.user-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.rant-section {
  margin-top: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-info {
  list-style-type: none;
  line-height: 1.3em;
}

.profile-pic {
  max-width: 150px;
}

.bio-li {
  display: flex;
  justify-content: space-between;
}

.img-box {
  display: flex;
  flex-direction: column;
}

.pic-buttons {
  margin-top: .3em;
  display: flex;
  justify-content: space-evenly;
}
