.user-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.rant-section {
  margin-top: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-ul {
  list-style-type: none;
  line-height: 1.3em;
}

.divider {
  border: 2px solid grey;
  width: 100%;
  box-shadow: seagreen;
  margin-bottom: 1.3em;
}
