.add-comment {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    padding: .5em;
    align-items: flex-start;
  }
  
.add-comment-textarea {
    width: 100%;
}

.add-comment-btn {
    width: 100px;
    margin-top: .5em;
    align-self: center;
}
  
.add-comment-btn:hover {
    background-color: #7CC6FE;
}